@font-face {
	font-family: 'Aeonik Pro';
	src: url('/AeonikPro-Regular.ttf');
}

html {
	width: max-content;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: max-content;
	background-color: #19191c;
	display: flex;
	align-items: center;
	z-index: 0;
}

.container {
	align-items: center;
	justify-content: center;
	background-color: rgba(35, 35, 37, 0);
	margin: auto;
	width: auto;
	height: min-content;
	align-self: center;
	padding: 2rem;
}

h1 {
	color: hsl(var(--color-neutral-0));
	text-align: center;
	font-family: 'Aeonik Pro';
	line-height: 44px;
}

h2 {
	color: #adadb0;
	text-align: center;
	font-family: 'Aeonik Pro';
}

p {
	color: #adadb0;
	text-align: center;
	font-family: 'Inter';
}

.button {
	display: inline-flex;
	padding: 9px 14px 9px 12px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 8px;
	width: max-content;
}

.primaryButton {
	background: linear-gradient(94deg, #fd366e 0%, #fd366e 60.94%, #fe536d 100%);
}

.primaryButton:hover {
	background: linear-gradient(94deg, #fd366e 0%, #fd366e 60.94%, #fe536d 100%);
	box-shadow: 0px 0px 32px 0px rgba(253, 54, 110, 0.32);
}

.primaryButton:active {
	background: linear-gradient(94deg, #fd366e 0%, #fd366e 60.94%, #fe536d 100%);
	box-shadow: 0px 0px 32px 0px rgba(253, 54, 110, 0.24);
}

.primaryButton:focus-visible {
	border: 2px solid var(--background, #19191c);
	background: linear-gradient(94deg, #fd366e 0%, #fd366e 60.94%, #fe536d 100%);
	box-shadow: 0px 0px 0px 1px #85dbd8;
}

.secondaryButton {
	border-radius: 8px;
	border: 1px solid #96294A;
	background: rgba(253, 54, 110, 0.04);
	box-shadow: 0px -6px 10px 0px rgba(253, 54, 110, 0.08) inset;
}

.secondaryButton:hover {
	border-radius: 8px;
	background: rgba(253, 54, 110, 0.10);
}

.secondaryButton:active {
	background: rgba(253, 54, 110, 0.16);
}

.secondaryButton:focus-visible {
	background: rgba(253, 54, 110, 0.04);
	box-shadow: 0px 0px 0px 2px #19191C, 0px 0px 0px 3.5px #85DBD8, 0px -6px 10px 0px rgba(253, 54, 110, 0.08) inset;
}

.rulesLink {
	color: hsl(var(--color-neutral-0));
	font-size: 1rem;
}

.rulesLink:hover {
	text-decoration: underline;
}